@import "bootstrap-sprockets";
@import "bootstrap";

body {
	  background-color: #CCFFFF;
  color: #339999;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  }

.navbar-default {background-color: #339999}

.jumbotron {
  h1, h2 {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    color: #339999;
  }
}

.navbar-default .navbar-brand {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 30px;}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

.center {
	text-align: left;
}

.col-md-3:nth-child(4n+1) {
	clear:left;
}

.col-md-6 {
	  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.caption {
   h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}